{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {% if form %}
      <title>Моя компания | Джуманджи</title>
  {% else %}
    <title>Создать карточку компании | Джуманджи</title>
  {% endif %}
{% endblock title %}

{% block content %}
    <main class="container">
  {% if form %}
    <div class="row mt-5">
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              {% crispy form 'bootstrap4' %}
              {% if is_new_company is None %}
              {% endif %}
            </section>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2">Моя компания</h1>
        <p class="mt-2">Пока мы думаем, что вы – частное лицо. Хотите создать карточку компании,
          разместить информаию и вакансии?</p>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p class="btn btn-info mb-2"><a href={% url 'vacancies:my_company_createcreate' %}>Создать карточку компании</a></p>
        </form>
      </div>
    </section>
  {% endif %}
    </main>
{% endblock content %}